{
  "情境": [
    "個人",
    "社會時事",
    "科學",
    "職業",
    "建築與藝術",
    "數學文字情境"
  ],
  "題型種類": [
    "單一題",
    "題組題"
  ],
  "題型": [
    "選擇題",
    "是非題",
    "封閉式建構反應題",
    "開放式建構反應題"
  ],
  "數學思考": [
    "形成",
    "運用",
    "詮釋評估"
  ],
  "學習內容": [
    "",
    ""
  ],
  "題目":[

  ],
  "正確解題分析":[
    
  ]
}
